<!doctype html>
<html>
   <head>
       <title>HOTEL ADVISOR</title>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       <script type="text/javascript" src = "{{ url_for('static', filename = 'index.js') }}"></script>
       <style>
            /* Make the image fully responsive */
            .carousel-inner img {
              width: 100%;
              height: 100%;
            }
       </style>
   </head>
   <body>
        <div class="container"><br />
           <h1 style="text-align:center">HOTEL ADVISOR</h1><br />
           <div class="row">
               <div class="col-md-2">
                   <h4>FILTER BY</h4><br />
                   <div class="btn-group-vertical"><br /><br />
                      <button type="button" class="btn btn-outline-secondary btn-lg">Good food</button><br /><br />
                      <button type="button" class="btn btn-outline-secondary btn-lg">Good staff</button><br /><br />
                      <button type="button" class="btn btn-outline-secondary btn-lg">Comfort stay</button><br /><br />
                      <button type="button" class="btn btn-outline-secondary btn-lg">Good room</button><br /><br />
                   </div>
               </div> 
               <div class="col-md-10">
                   {%for i in range(0,5)%}
                   <div class="card" style="width:900px">
                       <div class="card-body">
                          <h4 class="card-title">{{ hotels[i] }}</h4>
                          <p class="card-body"></p>           
                          <input type="button" id="bId" type="primary" class="btn btn-primary" data-toggle="collapse" data-target="#{{i}}" onclick="changeText()" value="View">
                          <br /><br />
                            <div id="{{i}}" class="collapse">
                                   {% for review in reviews[hotels[i]] %}
                                   <div>
                                       {{ review }}
                                   </div>
                                   <br />
                                   {%endfor%}
                            </div>
                       </div>
                   </div>
                   {%endfor%}
               </div>   
           </div>
        </div>
   </body>

</html>